.desktop-home-button-container {
    width: auto;
    height: auto;
    min-width: 282px;
    align-self: center;
    margin: auto;
}

.home-buttons {
    height: auto;
    font-size: 18px;
    font-weight: bold;
    width: 30vh;
}

