.desktop-home-button-container {
    width: auto;
    height: auto;
    align-self: center;
    margin: auto;
    align-content: center;
    justify-content: center;
}

.home-buttons {
    height: auto;
    font-size: 18px;
    font-weight: bold;
    width: 25vw;
    opacity: 0.92;
}

@media(max-width: 702px){
    .home-buttons {
        width: 60vw;

    }
}
