.page-title {
    color: white;
    text-align: center;
    font-size: 60px;
    padding-top: 1%;
    font-weight: bold;
    font-family: 'Liberation Serif', sans-serif;
    text-shadow: 0 0 3px #002263;
}
.sub-heading {
    text-align: center;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 3px #002263;
    font-weight: bold;
    font-family: 'Liberation Serif', sans-serif;
}

.home-buttons {
    text-align: center;
    text-decoration: none;

}
    .home-buttons a {
        text-align: center;
        text-decoration: none;
        color:black;
    }
    .home-buttons a:hover {
        text-align: center;
        color: white;
    }
.button {
    background-color: white;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-color: #002263;
    border-radius: 4px;
}
.button:hover {
    background-color: #002263;
}