.services-button-container {
    width: auto;
    height: auto;
    align-self: center;
    margin: auto;
    z-index: -1;
}

.toggle-button {
    width: 25vw;
    height: auto;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.92;
}

.FullScreenDiv {
    width: 70vw;
    height: 70vh;
    border-radius: 4px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 11vh 0 5vh;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    align-self: center;
}

    .close-button {
        align-self: flex-start;
        width: 69vw;
        padding: 10px;
        margin: 5px;
        align-items: center;
        display: flex;
        justify-content: center;
        max-height: 5vh;
        align-self: center;
    }

    .HiddenMenuContentContainer {
        display: flex-box;
        overflow: none;
        flex: 1;
        align-self: center;
        width: 60vw;
        height: 60vh;
    }

    .calendly {
        flex: 1;
        align-self: center;
        width: 60vw;
        height: 60vh;
    }

.hidden {
    display: none;
}

@media(max-width: 702px){
    .toggle-button {
        width: 60vw;
    }
}
